heading if only i actually took notes like this:

note
  todo o
  text(contenteditable) a brand new task
note
  todo.started o
  text(contenteditable) here is a task that i started
  note
    todo.halfway o
    text(contenteditable) a brand new sub-task
  note
    todo.started o
    text(contenteditable) another sub-task
note
  todo.halfway o
  text(contenteditable) halfway done or pending
note
  todo.done o
  text(contenteditable) this task is done
note
  todo.canceled o
  text(contenteditable) cancel a task by finishing the cross